---
import "../../styles/index.css";
import "./Proyects.css";
import Cards from "../Cards/Cards.astro";
import ProyectsTopWave from "../../assets/images/proyects-wave-top.svg?raw";
---

<Fragment set:html={ProyectsTopWave} />

<section class="proyects" id="proyects">
  <div class="proyects-container">
    <div>
      <h3>Mis proyectos</h3>
      <p>Explora los más recientes</p>
    </div>
    <div class="cards-container">
      <Cards />
    </div>
  </div>
</section>
