@font-face {
  font-family: "Afacad";
  src: url("@src/fonts/Afacad[wght].ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Afacad Italic";
  src: url("@src/fonts/Afacad-Italic[wght].ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gliker";
  src: url("@src/fonts/Gliker-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --accent-custom: #8e74c1;
  --gray-custom-dark: #0e0c14;
  --gray-custom: #201e27;
  --background-custom: #e2d5ff;

  --card-background: #f1f1f2;
  --card-border: #998db5;
  --card-title: #2f2148;
  --card-description: #393644;
  --card-languages: #d8d7d9;
  --card-shadow: 0 8px 15px rgba(128, 0, 128, 0.5);

  --box-shadow: 0 5px 15px rgba(128, 0, 128, 0.5);
  --white-scroll-hover: rgba(244, 243, 240, 0.8);

  --dropdown-header: #1e0047ce;
  --dropdown-content: #43296a;
  --dropdown-location-hours: #381d61;
  --dropdown-knowledge: #bcbbc2;

  --contact-background: #33165e;

  --h1-size: 6rem;
  --h2-size: 5rem;
  --h3-size: 2rem;
  --p-size: 1.5rem;
}

@media (max-width: 1200px) {
  :root {
    --h1-size: 4rem;
    --h2-size: 3rem;
    --p-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  :root {
    --h1-size: 3rem;
    --h2-size: 2rem;
    --h3-size: 1.5rem;
    --p-size: 1.1rem;
  }
}
