.card-wrapper {
  background: var(--card-background);
  width: 22rem;
  min-height: 290px;
  box-shadow: var(--card-shadow);
  border-radius: 1rem;
  border: solid 1px var(--card-border);
  display: flex;
  align-items: flex-start;
  color: var(--font-color);
  cursor: pointer;
}

.card-info {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  width: 100%;
}

.card-img-wrapper {
  height: 16rem;
  overflow: hidden;
  border-radius: 0.5rem 0.5rem 0 0;
}

.card-wrapper:hover .card-img {
  transform: scale3d(1.1, 1.1, 1);
  transition: transform 0.3s ease;
}

.card-img {
  border-radius: 0.5rem 0.5rem 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  object-position: top;
  transition: transform 0.3s ease;
}

.card-text {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card-title {
  font-size: 1.3rem;
  background-color: var(--background-title-card);
  border-radius: 0.5rem 0.5rem 0 0;
  color: var(--card-title);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-description {
  margin: 0;
  color: var(--card-description);
  font-family: "Afacad Italic", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5rem;
  height: 3rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-division-info {
  padding: 0 1rem 1rem 1rem;
  background: var(--transparency);
  border-radius: 0 0 0.5rem 0.5rem;
  display: flex;
  gap: 1rem;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  max-height: 2.6rem;
  overflow: hidden;
}

.project-languages {
  border-radius: 0.5rem;
  padding: 0.25rem;
  border: 1px solid var(--card-border);
  background-color: var(--card-languages);
  color: var(--card-title);
  font-size: 0.7rem;
  display: flex;
}

@media (max-width: 768px) {
  .card-wrapper {
    width: 20rem;
  }

  .card-img-wrapper {
    height: 13rem;
  }

  .card-description {
    font-size: var(--p-size);
  }
}
