---
import Dropdown from "../Dropdown/Dropdown.astro";
import "./About.css";
import AboutTopWave from "../../assets/images/waves/about-wave-top.svg?raw";

import formacionData from "../../data/data-about/formacion.json";
import complementariaData from "../../data/data-about/formacion-complementaria.json";
import experienciaData from "../../data/data-about/experiencia.json";
---

<section class="about-me" id="about-me">
  <Fragment set:html={AboutTopWave} />

  <div class="about-me-container">
    <h3>Sobre mí</h3>
    <div class="about-me-content">
      <h4>Formación</h4>
      <Dropdown items={formacionData} />
    </div>
    <div class="about-me-content">
      <h4>Formación complementaria</h4>
      <Dropdown items={complementariaData} />
    </div>
    <div class="about-me-content experience">
      <h4>Experiencia</h4>
      <Dropdown items={experienciaData} />
    </div>
  </div>
</section>
