---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/reset.css";
import { Lumiflex } from "../components/Lumiflex/index.tsx";
import Header from "../components/Header.astro";
import Proyects from "../components/Proyects/Proyects.astro";
import "../styles/index.css";
import About from "../components/About/About.astro";
---

<Layout>
  <Header />
  <Lumiflex client:load />
  <div class="section-welcome">
    <Welcome />
  </div>
  <div class="section-proyects">
    <Proyects />
  </div>
  <div class="section-about">
    <About />
  </div>
</Layout>

<style>
  .section-welcome,
  .section-proyects,
  .section-about {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 1;
  }
</style>
