---
import "./Contact.css";
import AboutBottomWave from "../../assets/images/waves/about-wave-bottom.svg?raw";
---

<section class="contact" id="contact">
  <Fragment set:html={AboutBottomWave} />
  <div class="contact-container">
    <h1>Contacto</h1>
  </div>
</section>
