---
import { Image } from "astro:assets";
import brillo from "../assets/brillo.gif";
import "../styles/index.css";
---

<section class="presentation">
  <div class="presentation-container">
    <Image src={brillo} alt="Estrellas" class={"presentation-image-one"} />
    <div class="presentation-main-text">
      <h1>Elena Expósito</h1>
      <h2>Desarrolladora Web</h2>
    </div>
    <Image src={brillo} alt="Estrellas" class={"presentation-image-two"} />
  </div>
</section>

<style>
  body {
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .presentation {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
  }

  .presentation-container {
    display: flex;
    justify-items: center;
    text-align: center;
    gap: 2rem;
  }

  .presentation-image-one {
    display: flex;
    align-self: flex-end;
  }

  h1,
  h2 {
    font-family: "Gliker", sans-serif;
    color: var(--gray-custom);
  }

  h1 {
    font-size: var(--h1-size);
  }

  h2 {
    font-size: var(--h2-size);
  }

  @media (max-width: 1200px) {
    :root {
      --h1-size: 4rem;
      --h2-size: 3rem;
    }
  }

  @media (max-width: 768px) {
    :root {
      --h1-size: 3rem;
      --h2-size: 2rem;
    }

    .presentation-container {
      gap: 0.5rem;
    }

    .presentation-image-one,
    .presentation-image-two {
      width: 30px;
      height: 30px;
    }
  }
</style>
