<section class="presentation">
  <div class="presentation-container">
    <div class="presentation-main-text">
      <h1>Elena Expósito</h1>
      <h2>Desarrolladora Web</h2>
    </div>
    <img
      src="https://media-public.canva.com/xEXQc/MAFkekxEXQc/1/t.png"
      alt="Imagen desde Canva"
      0
      width="50"
      height="50"
    />
    <h3>Portfolio</h3>
  </div>
</section>

<style>
  @font-face {
    font-family: "Gliker";
    src: url("@src/fonts/Gliker-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Afacad Italic";
    src: url("@src/fonts/Afacad-Italic[wght].ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  body {
    height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .presentation {
    position: relative;
    z-index: 1; /* Asegura que este contenido esté sobre el canvas */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
  }
  :root {
    --h1-size: 5rem;
    --h2-size: 6rem;
    --h3-size: 2rem;
  }

  h1 {
    font-family: "Sloop Script", cursive;
    font-size: var(--h1-size);
  }

  h2 {
    font-family: "Perandory Serif", serif;
    font-size: var(--h2-size);
  }

  h3 {
    font-family: "Afacad Italic", serif;
    font-size: var(--h3-size);
    padding: 0.5rem;
    border: black 2px solid;
    text-align: center;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    background-color: #e76f51;
  }

  h3:hover {
    background-color: #2a9d8f;
    cursor: pointer;
  }

  @media (max-width: 1200px) {
    :root {
      --h1-size: 3rem;
      --h2-size: 4rem;
      --h3-size: 1.5rem;
    }
  }

  @media (max-width: 768px) {
    :root {
      --h1-size: 2.5rem;
      --h2-size: 2.5rem;
      --h3-size: 1.2rem;
    }
  }
</style>
